.cupUI {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 5% 5%;
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.cups {
    border: 2px solid whitesmoke;
    background-color: rgb(40, 40, 40);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.blue {
    transform: rotate(180deg);
}

.cup {
    width: 14px;
    height: 14px;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    display: block;
    content: '';
}

.row {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: -1px;
    margin-top: -1px;
}

.red .cup {
    background-color: red;
}

.blue .cup {
    background-color: blue;
}

.cup.empty {
    background-color: rgb(40, 40, 40);
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(40, 40, 40);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    border-radius: 10px;
    width: 80%;
    margin: 0 10px;
    border: 2px solid whitesmoke;
}

.settings p {
    margin: 3px 0;
    margin-right: auto;
    margin-left: 10%;
}

.settings.active {
    display: flex;
}

.mode {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 5px;
    padding: 10px 3px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: rgb(40, 40, 40);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.mode p {
    font-size: 12px;
    margin: unset;
    color: #2196F3;
}

.mode p:nth-child(1) {
    /*color: unset;*/
    /*font-weight: normal;*/
    color: #ff4242;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
    transform: rotate(90deg);
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 17px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff4242;
    /*-webkit-transition: .2s;
    transition: .2s;*/
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    /*-webkit-transition: .2s;
    transition: .2s;*/
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: none;
    outline: none;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}